body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(20, 20, 30); /* night */
    transition: background-color 0.2s linear;
}

/* Big empty space so scrolling is possible */
.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-size: 3rem;
}

/* Text area */
.text-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The sunrise sentence */
.sun-text {
    font-size: 2.5rem;
    color: #f6e3b4;
    opacity: 0;
    transition: opacity 1s ease;

    /* Glow */
    text-shadow:
        0 0 12px rgba(255, 200, 120, 0.6),
        0 0 30px rgba(255, 200, 120, 0.35),

        /* Readability shadow */
        0 4px 10px rgba(0, 0, 0, 0.35);

}

.bus-section {
    height: 300vh;           /* scroll = time */
    position: relative;
}

.bus-track {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: 260px;
}

/* Text */
.poem {
    position: relative;
    padding: 0 120px;
    z-index: 2;
}

.line {
    font-size: 1.6rem;
    margin: 35px 0;
    opacity: 0;
    transition: opacity 0.1s linear;
    color: #2b2b2b;
    outline: 1px dashed blue;
}

/* Author-like positioning */
.line-1 { text-align: left; }
.line-2 { text-align: center; }
.line-3 { text-align: center; margin-left: 200px; }
.line-4 { text-align: right; margin-right: 150px; }
.line-5 { text-align: right; }

/* Bus */
.bus {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-300px, -50%);

    width: 260px;
    height: 500px;
    background-color: #2b2b2b;
    border-radius: 20px;

    z-index: 1;
    outline: 2px solid red;
}

